body {
  text-align: center;
  background-color: #159B47;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
}

.wrapper > div {
    padding: .2em;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 7px; 
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;  
    grid-template-areas: 
      "deck  drawn menu hearts diamonds spades clubs"
      "col0  col1  col2 col3   col4     col5   col6 ";
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #008C3C;
    padding: 2em;
    color: #fff;
    max-width: 940px;
    margin: 0 auto;
    /*z-index: -3;*/
}

#winner {
  z-index: 100;
}

.deck {
  grid-area: deck;
}

.drawn {
  grid-area: drawn;
}

.menu {
  grid-area: menu;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hearts{
  grid-area: hearts;
  margin-bottom: 10px;
}

.diamonds{
  grid-area: diamonds;
  margin-bottom: 10px
}

.spades{
  grid-area: spades;
  margin-bottom: 10px;

}

.clubs{
  grid-area: clubs;
  margin-bottom: 10px;
}

.row0{
  position: relative;
  z-index: auto;
}

.row1{
  position: relative;
  z-index: 1;
  top: -150px;
}

.row2{
  position: relative;
  z-index: 2;
  top: -300px;
}

.row3{
  position: relative;
  z-index: 3;
  top: -450px;
}

.row4{
  position: relative;
  z-index: 4;
  top: -600px;
}

.row5{
  position: relative;
  z-index: 5;
  top: -750px;
}

.row6{
  position: relative;
  z-index: 6;
  top: -900px;
}

.row7{
  position: relative;
  z-index: 7;
  top: -1050px;
}

.row8{
  position: relative;
  z-index: 8;
  top: -1200px;
}

.row9{
  position: relative;
  z-index: 9;
  top: -1350px;
}

.row10{
  position: relative;
  z-index: 10;
  top: -1500px;
}

.row11{
  position: relative;
  z-index: 11;
  top: -1650px;
}

.row12{
  position: relative;
  z-index: 12;
  top: -1800px;
}

.row13{
  position: relative;
  z-index: 13;
  top: -1950px;
}

.row14{
  position: relative;
  z-index: 14;
  top: -2100px;
}

.row15{
  position: relative;
  z-index: 15;
  top: -2250px;
}
.row16{
  position: relative;
  z-index: 16;
  top: -2400px;
}

.row17{
  position: relative;
  z-index: 17;
  top: -2550px;
}

.row18{
  position: relative;
  z-index: 18;
  top: -2700px;
}

.col0{
  grid-area: col0;
}

.col1{
  grid-area: col1;
}

.col2{
  grid-area: col2;
}

.col3{
  grid-area: col3;
}

.col4{
  grid-area: col4;
}

.col5{
  grid-area: col5;
}

.col6{
  grid-area: col6;
}

.selected{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}


